<div>
  <label>Location: </label>
  <select [(ngModel)]="selectedSite" (ngModelChange)="onChange()">
    <option *ngFor="let site of sites" [value]="site.apiKey">{{ site.name }}</option>
  </select>
  <label>Date: </label>
  <input type="date" [(ngModel)]="selectedDate" (ngModelChange)="onChange()" />
  <div>
    <span *ngIf="loading">Loading...</span>
    <table *ngIf="!loading && availabilities !== undefined">
      <thead>
        <tr>
          <th>Tickets</th>
          <th *ngFor="let name of sessionNames">{{ name }}</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let ticket of availabilities.products">
          <td>
            {{ ticket.name }}
          </td>
          <td [class]="'center-align ' +
              (bookings[ticket.name!][name]?.full ? 'booking-full ' : '') +
              (bookings[ticket.name!][name] === undefined ? 'booking-no-data ' : '') +
              (bookings[ticket.name!][name]?.count === 0 ? 'booking-empty ' : '') +
              ((bookings[ticket.name!][name]?.count ?? 0) > 0 ? 'booking-few ' : '') +
              ((bookings[ticket.name!][name]?.count ?? 0) > 10 ? 'booking-many ' : '')" *ngFor="let name of sessionNames">
            <span *ngIf="bookings[ticket.name!][name] === undefined">X</span>
            <span *ngIf="bookings[ticket.name!][name] !== undefined">
              {{ bookings[ticket.name!][name]?.count }}
              {{ bookings[ticket.name!][name]?.full ? 'F' : '' }}
              {{ bookings[ticket.name!][name]?.restricted ? 'R' : '' }}
            </span>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
