<div>
  <div class="form-div">

    <label>Location: <select [(ngModel)]="selectedSite" (ngModelChange)="onChange()">
        <option *ngFor="let site of sites" [value]="site.apiKey">{{ site.name }}</option>
      </select></label>
    <label>Date: <input type="date" [(ngModel)]="selectedDate" (ngModelChange)="onChange()" /></label>

    <label>Considering Location: <input type="checkbox" [(ngModel)]="consideringLocation" /></label>

  </div>
  <div>
    <span *ngIf="loading">Loading...</span>
    <table *ngIf="!loading && availabilities !== undefined">
      <thead>
        <tr>
          <th>Tickets</th>
          <th *ngFor="let name of sessionNames">{{ name }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of availabilities.products">
          <td>
            {{ ticket.name }}
          </td>
          <td [class]="'center-align ' + getCellClass(bookings[ticket.name!][name])"
            *ngFor="let name of sessionNames">
            <span *ngIf="bookings[ticket.name!][name] === undefined">X</span>
            <span *ngIf="bookings[ticket.name!][name] !== undefined">
              {{ consideringLocation ? bookings[ticket.name!][name]?.countConsideringLocation : bookings[ticket.name!][name]?.count }}
              {{ bookings[ticket.name!][name]?.full ? 'F' : '' }}
              {{ bookings[ticket.name!][name]?.restricted ? 'R' : '' }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>